.appt-view-content {
  width: 100%;
  position: absolute;
  margin-top: 64px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.25em;
  background: white;
  overflow: scroll;
}

.appt-view-content:before {
  content: '';
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color:black;
  opacity: .5;
  z-index: -1;
}

.appt-view-detail h3, .appt-view-detail p {
  display: block;
}

.appt-view-detail {
  width: 90%;
  height: 200px;
  background: white;
}

.appt-view-map {
  width: 90%;
  height: 200px;
}

.weather-forecast div {
  display: inline-block;
}
