#appt-listing {
  background: #eee;
  width: 100%;
  min-height: 100%;
  label {
    display: block;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

header {
  padding: 1em;
  text-align: center;
  overflow: auto;
}
