<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Docket - Appointments</title>
  <link href="https://fontastic.s3.amazonaws.com/6waaqMgo6Z8cMRzLd9mKS6/icons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.5.3/jquery.timepicker.min.css" rel='stylesheet' type="text/css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
  </div>
</body>
  <script type="type/html" id="appt-listing">
    <div id='<%= m.pageID %>' class="page previous">
      <header>
        <nav class="appt-nav">
          <h2>DOCKET</h2>
          <button class="add-btn">+</button>
          <button class="weather-btn">W</button>
        </nav>
      </header>
        <div class="appt-content">
          <ul class="appt-list">
            <% m.appointments.forEach(function(appt){ %>
              <li class="appt" data-id='<%- appt.aptId %>'>
                <div class="appt-details">
                  <h3 class="appt-listing-time"><%- appt.time %></h3>
                  <h3 class="appt-listing-title"><%- appt.title %></h3>
                  <p class="appt-listing-address">
                  <%- appt.address %>
                    <span class="appt-address-icon">p</span>
                  </p>
                </div>
                <div class="appt-delete">
                  <h3>Are You Sure?</h3>
                  <button class="appt-confirm-delete">Delete</button>
                  <button class="appt-cancel-delete">Cancel</button>
                </div>
                <button class="appt-delete-btn">X</button>
              </li>
            <% }) %>
          </ul>
        </div>
    </div>
  </script>

  <script type="type/html" id="appt-weather">

    <div id='<%= m.pageID %>' class="page inactive">
      <header>
        <nav class="appt-nav">
          <h1>Weather</h1>
          <button class="back-btn"><</button>
        </nav>
      </header>
      <div class="weather-container"></div>
    </div>

  </script>

  <script type="type/html" id="appt-edit">
    <div id='<%= m.pageID %>' class="page inactive" data-id="<%- m.appointment.aptId %>">
      <header>
        <nav class="appt-nav">
          <h1>Add</h1>
          <button class="back-btn"><</button>
        </nav>
      </header>
      <form class="appt-edit-content">
        <label>
          Title
          <input class="appt-edit-title" value="<%- m.appointment.title %>">
        </label>

        <label>
          Date
          <input class="appt-edit-date" value="<%- m.appointment.date %>">
        </label>

        <label>
          Time
          <input class="appt-edit-time" value="<%- m.appointment.time %>">
        </label>

        <label>
          Street
          <input class="appt-edit-street" value="<%- m.appointment.street %>">
        </label>

        <label>
          City
          <input class="appt-edit-city" value="<%- m.appointment.city %>">
        </label>

        <label>
          State
          <input class="appt-edit-state" value="<%- m.appointment.state %>">
        </label>

        <button class="appt-save-btn">Save</button>
      </form>
    </div>
  </script>

  <script type="type/html" id="appt-view">
    <div id='<%= m.pageID %>' class="page inactive" data-id='<%- m.appointment.aptId %>'>
      <header>
        <nav class="appt-nav">
          <h1>Appointment</h1>
          <button class="back-btn"><</button>
          <button class="edit-btn">e</button>
        </nav>
      </header>
      <div class="appt-view-content">
        <div class="appt-view-detail" data-id='<%- m.appointment.aptId %>'>
          <h3 class="appt-title"><%- m.appointment.title %></h3>
          <p class="appt-date"><%- m.appointment.date %></p>
          <p class="appt-time"><%- m.appointment.time %></p>
          <p class="appt-address"><%- m.appointment.address %></p>
        </div>
        <div class="appt-view-weather">
          <iframe
            width="100%"
            height="250"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB6DxmnwfJ384iVx5zI00vADHgd6qmX9sM
              &q=<%- m.appointment.street %>,<%- m.appointment.city %> + <%- m.appointment.state %>">
          </iframe>
      </div>
    </div>
  </script>

  <script type="text/javascript" src="http://l2.io/ip.js?var=myip"></script>
  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.5.3/jquery.timepicker.min.js"></script>

</html>
