<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Title</title>
  <link href="https://fontastic.s3.amazonaws.com/6waaqMgo6Z8cMRzLd9mKS6/icons.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="wrapper">
  </div>
</body>
<script type="type/html" id="appt-listing">
  <div id='<%= pageID %>' class="page">
    <header>
      <nav class="appt-nav">
        <h2>DOCKET</h2>
        <button class="add-btn">+</button>
      </nav>
    </header>

      <div class="appt-content">
        <ul class="appt-list">
          <% appointments.forEach(function(appt){ %>
            <li class="appt" data-id='<%- appt.aptId %>'>
              <div class="appt-details">
                <h3 class="appt-listing-time"><%- appt.time %></h3>
                <h3 class="appt-listing-title"><%- appt.title %></h3>
                <p class="appt-listing-address">
                <%- appt.address %>
                  <span class="appt-address-icon">p</span>
                </p>
              </div>

              <div class="appt-delete">
                <h3>Are You Sure?</h3>
                <button class="appt-confirm-delete">Delete</button>
                <button class="appt-cancel-delete">Cancel</button>
              </div>
              <button class="appt-delete-btn">X</button>
            </li>
          <% }) %>

        </ul>

      </div>
  </div>
</script>

<script type="type/html" id="appt-edit">
<div id='<%= pageID %>' class="page">
  <header>
    <nav class="appt-nav">
      <h1>Appts</h1>
      <button class="back-btn"><</button>
    </nav>
  </header>
    <div class="appt-edit-content">

      <label>
        Title
        <input class="appt-edit-title" placeholder="<%- appointment.title %>">
      </label>

      <label>
        Date
        <input class="appt-edit-date" placeholder="<%- appointment.date %>">
      </label>

      <label>
        Time
        <input class="appt-edit-time" placeholder="<%- appointment.time %>">
      </label>

      <label>
        Street
        <input class="appt-edit-street" placeholder="<%- appointment.street %>">
      </label>

      <label>
        City/State
        <input class="appt-edit-city-state" placeholder="<%- appointment.cityState %>">
      </label>

      <button class="appt-save-btn">Save</button>
    </div>
</div>
  </script>

  <script type="type/html" id="appt-view">
  <div id='<%= pageID %>' class="page">
    <header>
      <nav class="appt-nav">
        <h1>Appts</h1>
        <button class="back-btn"><</button>
        <button class="edit-btn">e</button>
      </nav>
    </header>

    <div class="appt-view-content">
      <div class="appt-view-detail">
        <h3 class="appt-title"><%- appointment.title %></h3>
        <p class="appt-date"><%- appointment.date %></p>
        <p class="appt-time"><%- appointment.time %></p>
        <p class="appt-address"><%- appointment.address %></p>
      </div>
      <div class="appt-view-weather">

      </div>

    </div>
  </div>

  </script>

  <script src="js/vendor.js"></script>
  <script src="js/app.js"></script>

</html>
